.godfoot1{
    background-color: #E9E2D7;
}

.godfoot2{
    background-color: black;
    color: grey;
}

.godfoot3{
    background-color: grey;
}

.godfoot4{
    background-color: #A27D33;
}

.ryan{
    background-color: wheat;
}

.fadora{
    background-color: #666;
}

.justice{
    background-color: #c52d2d;
}

.magic_rat{
    background-color: #DEB3EB;
}

.niko{
    background-color: #FF9AA2;
}

.sheriff, .stalin{
    background-color: #E2F0CB;
}

.blind1{
    background-color: #E9E2D7;
}

.blind2{
    background-color: #E9E2D7;
}

.chef{
    background-color: #E1B894;
    font-family: alien;
}

.chef p{
    font-size: 25px;
}

.grunt1{
    background-color: #988270;
}

.grunt2, .nerf{
    background-color: #ffac64;;
}

.sama{
    background-color: grey;
}

.dues{
    animation-iteration-count: infinite;
    animation-duration: 1s;
    animation-name: duesBackground;
}
    

.suffering{
    background-color: grey;
}

.knight{
    background-color: silver;
}

.beach{
    background-color: lightblue;
}

.macho{
    background-color: peachpuff;
}

.oldman{
    background-color: whitesmoke;
}