.create_textbox{
    background-color: #ecffe9;
}

#submit_textbox, #submit_story{
    position: absolute;
    left:80%;
    width:17%;
    font-family: small_pixel;
}

#submit_textbox{
    top:15%
}

#submit_story{
    top:55%;
}

#dialog{
    height: 60%;
    left:15%;
    width:60%;
    top:25%;
    position: absolute;
    font-family: small_pixel;
    resize: none;
    background-color: #fbf4f9;
}

#dialog_label{
    left:15%;
    position: absolute;
}

#character,#animation,#character_label,#animation_label{
    left: 3%;
    position: absolute;
    font-family: small_pixel;
}

#character_label,#dialog_label,#img_label{
    top:5%;
}

#character{
    top:25%;
    background-color: #f6e7e6;
}

#animation_label{
    top:55%;
}

#animation{
    top:75%;
    background-color: #f6e7e6;
}

#img{
    position: absolute;
    top:25%;
}

#img_label{
    position: absolute;
    top:3%
}