
.end_turn_button{
    font-family: pixel;
    background-color: red;
    width: 100%;
    
}

.end_turn_button:hover{
    background-color: rgba(255, 0, 0, 0.5);
}

.game_board{
    position: relative;
    width: 60%;
    padding-top: 40%;
    left: 20%;
    background-size: 100% 100%;
    background-image: url('https://d.ibtimes.co.uk/en/full/1490099/galaxy-dark-matter-detection.jpg');
}

.opponent_turn{
    position: absolute;
    width:100%;
    height: 100%;
    top: 0%;
    background-color: rgba(158, 143, 143,.8);
}

.game_cell {
    position:absolute;
    border-style: solid;
    border-width: 1px;
    border-color: rgba(255, 0, 0, 0.5);
}

.game_cell img{
    width: 100%;
    height: 100%;
}

.game_cell:hover{
    background-color: aquamarine;
}

.character_panel{
    position: relative;
    padding-bottom: 33%;
    margin-bottom: 1%;
    border-style: solid;
}

.character_panel img{
    position: absolute;
    width: 33%;
    left: 0%;
    height: 100%;
}

.character_info{
    font-family: pixel;
    position: absolute;
    top:1%;
    height: 100%;
    left: 34%;
    width: 63%;
}

.health_display{
    border-style: solid;
    text-align: center;
    font-size: 1vw;
    height: 25%;
    background-color: red;
    line-height: 150%;
}

.actionPoint_display{
    position: relative;
    font-size: 1vw;
    height: 25%;
    line-height: 150%;
}

.actionPoint{
    position: absolute;
    background-color: lightblue;
    border-style: solid;
    top:0%;
    height: 100%;
    text-align: center;
}

.actions_display{
    position: relative;
    height: 50%;
    width: 100%;
}

.move_display{
    height: 70%;
    text-align: center;
    position: absolute;
    line-height: 180%;
    font-size: 1.25vw;
    left: 0%;
    width: 25%;
    top: 6%;
    background-color: lightgreen;
    border-style: solid;
}

.attack_display{
    height: 70%;
    position: absolute;
    line-height: 170%;
    font-size: .7vw;
    text-align: center;
    left: 25%;
    width: 25%;
    top: 6%;
    background-color:red;
    border-style: solid;
}

.active_display{
    height: 70%;
    position: absolute;
    line-height: 170%;
    font-size: .5vw;
    text-align: center;
    left: 50%;
    width: 25%;
    top: 6%;
    background-color:lightseagreen;
    border-style: solid;
}

.passive_display{
    height: 70%;
    position: absolute;
    line-height: 170%;
    font-size: .5vw;
    text-align: center;
    left: 75%;
    width: 25%;
    top: 6%;
    background-color:violet;
    border-style: solid;
}


#left_border{
    position: absolute;
    left: 0%;
    width: 19%;
    top: 0%;
}

#right_border{
    position: absolute;
    top: 0%;
    left: 80.5%;
    width: 19%;
}