@font-face{
    font-family: pixel;
    src: url('../fonts/pixel.TTF');
}

@font-face{
    font-family: Roboto-Thin;
    src: url('../fonts/Roboto-Thin.ttf');
}

@font-face{
    font-family: Platinum;
    src: url('../fonts/Platinum.ttf');
}

@keyframes border_left{
    0% {
        background-image: url("/front_end/static/imgs/borders/down0_border.png");
    }
    50% {background-image: url("/front_end/static/imgs/borders/down2_border.png")
    }
    100% {background-image: url("/front_end/static/imgs/borders/down0_border.png")
    }
}

@keyframes border_right{
    0% {
        background-image: url("/front_end/static/imgs/borders/up0_border.png");
    }
    50% {background-image: url("/front_end/static/imgs/borders/up2_border.png")
    }
    100% {background-image: url("/front_end/static/imgs/borders/up0_border.png")
    }
}


h1{
    font-size: xx-large;
    font-family: Platinum; 
}

h2{
    padding-left: 8%;
    padding-right: 8%;
}

p{
    padding-left: 8%;
    padding-right: 8%;
}

body{
    font-family: Roboto-Thin;
    background-color: lightpink;
}

nav{
    font-size: large;
}

.border_left{
    float: left;
    background-size: 100%;
    width: 5%;
    padding-top: 100%;
    animation-iteration-count: infinite;
    animation-name: border_left;
    animation-duration: 1s;
}

.border_right{
    float: right;
    background-size: 100%;
    width: 5%;
    padding-top: 100%;
    animation-iteration-count: infinite;
    animation-name: border_right;
    animation-duration: 1s;
}

.textbox{
    font-family: pixel;
    font-size: large;
    padding: 1%;
    border-style: double;
    border-spacing: 150px;
    margin-bottom: 5px;
}

.textbox img{
    border-style: solid;
    border-width: 1px;
}

.end_turn_button{
    font-family: pixel;
    position: absolute;
    background-color: red;
    width: 20%;
    left: 0%;
}

.end_turn_button:hover{
    background-color: rgba(255, 0, 0, 0.5);
}

.game_board{
    position: absolute;
    left: 20%;
    width: 60%;
    padding-top: 40%;
    background-size: 100% 100%;
    background-image: url('https://d.ibtimes.co.uk/en/full/1490099/galaxy-dark-matter-detection.jpg');
}

.opponent_turn{
    position: absolute;
    width:100%;
    height: 100%;
    top: 0%;
    background-color: rgba(158, 143, 143,.8);
}

.game_cell {
    position:absolute;
    border-style: solid;
    border-width: 1px;
    border-color: rgba(255, 0, 0, 0.5);
}

.game_cell img{
    width: 100%;
    height: 100%;
}

.game_cell:hover{
    background-color: aquamarine;
}

