@font-face{
    font-family: Papyrus;
    src: url('../fonts/PAPYRUS.TTF');
    font-family: Ferrum;
    src: url('../fonts/Ferrum.otf');
}
body{
    font-family: Papyrus;
}

.textbox{
    font-family: Ferrum;
    font-size: large;
    padding: 1%;
    border-style: double;
    border-spacing: 150px;
    
}

.game_board {
    width: 100%;
    height: 1000px;
    border: 1px solid black;
    border-collapse: collapse;
}

.game_board td{
    border: 1px solid black;
    width: 10%;
    height: 10%;
}
.game_board img{
    max-width: 90%;
    max-height: 90%;
}

.game_board td:hover{
    background-color: aquamarine;
}